@media screen and (max-width:1350px){
        
    main  img{
        width: 110%;
    }

    .info{
        width: 144%;
    }

    .info .left1 h1 p{
        font-size: 18px;
    }

    .screen{
        width: 144%;
    }

    section .foto{
        width: 909px;
    }
}

@media screen and (max-width:1325px){
    main .left p{
        font-size: 14px;
    }
}

@media screen and (max-width:1160px){

    header{
        width: 165%;
    }

    main img{
       width: 124%;
    }

    section h3{
        margin-left: 243px;
    }

    section aside h4{
        width: 83%;
        font-size: 18px;
        margin-left: 250px;
    }

    section aside p{
        width: 76%;
        margin-left: 260px;
    }

    .info{
        width: 165%;
    }

    .info .left1 h1 p{
        font-size: 20px;
    }

    .info .right1 {
        width: 637px;
        height: 674px;
    }

    .screen{
        width: 165%;
    }

    .speak .left2 p, .speak .right2 p{
        margin-left: 0px;
    }

    .speak .left2 img, .speak .right2 img{
        margin-right: 239px;
    }

    .speak .left2 h4, .speak .right2 h4{
        margin-left: 0px;
        margin-right: 0px;
    }

    .tornado .tor img{
        width: 109%;
    }

    .tornado .totxt{
        height: 768px;
        margin-top: 103px;
        margin-bottom: 49px;
        margin-right: 47px;
    }
}

@media screen and (max-width:1024px){

    .speak{
        width: 165%;
    }

    .tornado{
        width:165% ;
    }

    .contact{
        width: 140%;
    }
     .footer{
        width: 165%;
     }

    .srvp{
        margin-right: -500px;
    }

    .speak .left2 p, .speak .right2 p{
        margin-left: 0px;
    }

    .speak .left2 img, .speak .right2 img{
        margin-right: 239px;
    }

    .speak .left2 h4, .speak .right2 h4{
        margin-left: 0px;
        margin-right: 0px;
    }

    .tornado .tor img{
        width: 109%;
    }

    .tornado .totxt{
        height: 768px;
        margin-top: 103px;
        margin-bottom: 49px;
        margin-right: 47px;
    }
}

@media screen and (max-width:1005px){
    main .left h1{
        font-size: 43px;
        margin-top: 325px;
    }

    main .left h2{
        font-size: 20px;
    }

    main .left button{
        margin-top: 615px;
    }

    main .left p{
        margin-top: 454px;
    }

    main img{
        width: 130%;
    }

    .info{
        width: 178%;
    }

    .screen{
        width: 178%;
    }

    .speak{
        width: 178%;
    }

    .tornado{
        width: 178%;
    }

    .footer{
        width: 178%;
    }
}

@media screen and (max-width:879px){
    header nav .name{
        width: 91%;
    }

    main img{
        width: 151%;
    }
 
    .info, .screen, .speak, .tornado, .footer{
        width: 208%;
    }

    .contact{
        width: 188%;
    }
}
 


@media screen and (max-width:864px){
    
    .info .left1 h1 p{
        font-size: 21px;
    }

}

@media screen and (max-width:750px){

    header{
        width: 203%;
    }
     
    main {
        margin-top: 376px;
        margin-left: 263px;
    }

    main .left{
        position: absolute;
    }

    main img{
        width: 206%;
        height: 928px;
        margin-left: -262px;
        margin-top: 919px;
    }

    main .left h2{
        width: 100%;
        font-size: 22px;
        margin-top: 315px;
    }

    main .left h1{
        width: 100%;
        font-size: 43px;
        margin-top: 418px;
    }

    main .left p{
        font-size: 17px;
        width: 77%;
        margin-top: 549px;
    }

    main .left button{
        margin-top: 824px;
    }

    section h3{
        width: 100%;
        margin-top: 1536px;
        margin-left: 590px;
    }

    section aside h4{
        width: 126%;
    }

    section aside p {
        margin-left: 586px;
    }


    section aside {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        /* margin-top: 31px; */
    }

    section .foto{
        margin-left: 373px;
    }

    section .foto1{
        margin-top: 573px;
    }

    .info{
        width: 206%;
        margin-top: 1182px;
    }

    .info .left1{
        height: 91%;
        margin-bottom :108px;
        margin-left: 201px ; 
        margin-top: 0px !important;
        
    }

    .info .left1 h1{
        width: 174%;
        margin-top: 408px;
        margin-left: 267px;
        font-size: 95px;
    }

    .info .left1 h1 p{
        font-size: 26px;
    }

    .info .right1{
        width: 205%;
        margin-bottom: 774px;
        margin-left: -793px;
    }

    .screen{
        width: 206%;
    }

    .speak .meet, .speak div, .tornado, .footer{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .speak div .left2{
        width: 100%;
        margin-left: 0px;
    }

    .speak div .right2{
        width: 100%;
        margin-top: 20px;
    }

    .tornado .totxt{
        width: 103%;
    }

    .contact{
        margin-left: 137px;
    }

    .footer .links{
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 66px;
    }
}

@media screen and (max-width:745px){
    main .left h2{
        font-size: 24px;
    }

    main .left h1{
        font-size: 46px;
    }

    main img{
        width: 231%;
        height: 941px;
        margin-top: 1003px;
        /* margin-left: 604px; */
    }

    section h3{
        margin-top: 1661px;
        margin-left: 686px;
        font-size: 65px;
    }

    section aside h4{
        font-size: 23px;
        margin-left: 448px;
    }

    section aside p{
        font-size: 18px;
        margin-left: 635px;
    }

    section .foto{
        width: 649px;
        margin-left: 630px;
    }


    .info{
        width: 231%;
    }

    .info .right1{
        margin-right: 222px;
        width: 200%;
    }

    .screen{
        width: 231%;
    }

    .info, .screen, .speak, .tornado, .footer{
        width: 232%;
    }
}

@media screen and (max-width:740px){

    main img{
        width: 270%;
        height: 1257px;
    }

    section h3{
        margin-top: 1936px;
    }

    section .foto{
        width: 128%;
        height: 541px;
    }

    .info{
        width: 272%;
    }

    .screen{
        width: 272%;
    }

    .info, .screen, .speak, .tornado, .footer{
        width: 271%;
    }
}

@media screen and (max-width:650px){

    header{
        width: 250%;
    }

    section .foto {
        width: 677px;
        margin-left: 600px;
    }

    section .foto1{
        width: 813px;
        height: 494px;
    }

    .info{
        width: 270%;
    }

    .screen{
        width: 270%;
    }

}

@media screen and (max-width:581px){

    header{
        width: 351%;
    }

    main .left h2{
        font-size: 27px;
        margin-left: 332px;
    }  

    main .left h1{
        font-size: 48px;
        margin-left: 332px;
    }

    main .left p{
        font-size: 20px;
        margin-left: 332px;
    }

    main .left button{
        width: 200px;
        height: 66px;
        margin-left: 372px;
    }

    main img {
        width: 400%;
        height: 1431px;
    }

    section h3{
        margin-top: 2146px;
        font-size: 70px;
    }

    section aside h4{
        font-size: 35px;
         margin-left: 503px ;
    }

    section aside p{
        font-size: 24px;
        margin-left: 541px;
    }

    section .foto{
        width: 888px;
        height: 494px;
        margin-left: 755px;
    }

    
    .info{
        width: 399%;
    }

    .info .right1{
        width: 194%;
    }

    .info .left1 h1{
        font-size: 100px;
        margin-left: 453px;
    }

    .info .left1 h1 p{
        font-size: 32px;
    }

    .info .right1{
        width: 192%;
        margin-right: 440px;
    }

    .screen{
        width: 399%;
    }

    .info, .screen, .speak, .tornado, .footer{
         width: 400%;
    }
    .tornado .totxt{
        width: 102%;
    }
    
    .contact{
        margin-left: 427px;
        font-size: 20px;
    }
}

@media screen and (max-width:480px){
    main{
        margin-top: 376px;
        margin-left: 55px;
    }

    main .left p{
        width: 100%;
    }

    main img{
        width: 448%;
    }

    section h3{
        font-size: 50px;
    }

    section aside h4{
        width: 106%;
        font-size: 20px;
    }

    section aside p{
        margin-left: 633px;
    }

    section .foto1{
        margin-left: 0px;
    }

    section .foto{
        margin-left: 463px;
    }


    .info{
        width: 401%;
    }

    .screen{
        width: 401%;
    }

    .contact label{
        margin-top: 52px;
    }
    .contact .email button{
        margin-left: 66px;
    }

    .contact .email input{
        margin-top: 17px;
    }

    .contact h1{
        margin-top: 56px;
    }

}

@media screen and (max-width:400px){
    main .left h1{
        font-size: 28px;
        
    }

    main .left p{
        font-size: 12px;
    }

    main .left h2{
        font-size: 20px;
    }

    section aside h4{
        font-size: 24px;
    }

    section .foto1{
        margin-top: 573px;
    }
}


@media screen and (max-width:360px){
     main img{
        width: 470%;
     }

     section h3{
        margin-left: 500px;
        font-size: 40px;
     }
     section aside h4{
        width: 58%;
     }

     section aside p{
        margin-left: 523px;
     }

     section .foto{
        margin-left: 237px;
    }
}


            /* responsive srvp*/


    @media screen and (max-width:1024px){
        .secret{
            margin-left: 400px;
        }

        .secret span{
            width: 75%;
        }

        .secret .txt{
            margin-left: 118px;
        }

        .schedule{
            width: 117%;
            margin-left: 231px;
            margin-top: 187px;
        }
    }   


    @media screen and (max-width:865px){
        .secret span{
            width: 88%;
        }

        .secret .times{
            margin-top: 50px;
            font-size: 20px;
        }

        .secret h1{
            margin-top: 76px;
        }

        .secret .txt {
            margin-left: 54px;
            font-size: 20px;
        }

    }

    @media screen and (max-width:571px){
        .secret{
            margin-left: 649px;
        }

        .secret p{
            font-size: 21px;
        }

        .secret span{
            width: 101%;
        }

        .secret img{
            width: 252%;
            margin-left: 194px;
        }

        .secret h1{
            margin-top: 278px;
            width: 41%;
        }

        .secret .times{
            margin-top: 97px;
            font-size: 32px;
             width: 49%;
        }

        .secret .txt{
            margin-left: 54px;
            font-size: 28px;
            width: 82%;
            margin-top: 91px;
        }

        .schedule{
            width: 247%;
            margin-left: 277px;
            margin-top: 385px;
        }

        .schedule button{
            width: 200px;
            height: 83px;
            font-size: 27px;
        }

        .schedule h4{
            font-size: 43px;
        }

        .schedule ul li a{
            font-size: 50px;
        }
    }

    @media screen and (max-width:550px){
        .secret img{
            width: 232%;
            margin-right: 364px;
        }
    }

    @media screen and (max-width:473px){
        .secret img{
            width: 168%;
            margin-right: 364px;
        }
    }
    

    @media screen and (max-width:408px){
        .secret img{
            width: 164%;
            margin-right: 602px;
        }
    }

    @media screen and (max-width:380px){
        .secret img{
            width: 121%;
            margin-right: 636px;
        }
    }
    
    @media screen and (max-width:378px){
        .secret{
            margin-left: 480px;
        }

        .secret p,
        .secret span{
            margin-right: 347px;
        }

        .schedule{
            margin-left: 72px;
        }
    }